

.login-page {
  position: relative;
margin-left: 520px;
margin-top: 230px;
}

.signUpMessage {
  margin-top: 10px;
}

.column {
    width: 40% !important;
    margin-top: 10% !important;
    padding: 18px 21px 31px 21px;
    background-color: rgba(211, 171, 171,0.87);
    border-radius: 15px;
  }
  .ui.center.aligned.header {
    color: white;
    font-family: 'Cedarville Cursive';
    font-size: 34px;
  }

  .ui.fluid.button {
    color: #780738;
  }

  div .field {
    margin-bottom: 12px;
  }

  .usernameInput {
    width: 100%;
  }

  .ui.button {
    color: #780738
  }

  .ui.grid {
    margin-top: 0 !important;
  }
