


#video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.marker-btn {
  width: 30px;
  position: absolute;
  top: 100px
}


.signUpMessage {
  margin-top: 10px;
}

 .column {
  }


  #login {
    width: 600px;
    height: 100px;
    padding: 30px;
    left: 384px;
    top: 220px;
    opacity: 0.9;
  }

  #loginTitle {

  }

  #signup {
    position: absolute;
    right: 545px;
    top: 50px;
    margin-left: 50px;
    width: 350px;
    opacity: .85;
  }

  #signupHeader {
    width: 100% !important;
    margin-top: 10% !important;
    padding: 18px 21px 31px 21px;
    background-color: rgba(91, 14, 211,0.3);
    border-radius: 15px;
    color: white;
    font-family: 'Cedarville Cursive';
    font-size: 34px;

  }

  .ui.fluid.button {
    color: #780738;
  }

  div .field {
    margin-bottom: 12px;
  }

    /* .usernameInput {
      width: 100%;
    } */

  .ui.button {
    color: #780738
  }
/*
  .ui.grid {
    margin-top: 0 !important;
  } */

  #mainTop {
    background-color: #0b98de;
  }

  .navbarOrgName {
    position: relative;
    text-align: center;
    font-size: 40px;
    top: 16px;
    width: 300px;
    left: 530px;
  }

  #aboutPageText h1 {
    position: relative;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    text-align: center;
  }

  #aboutBackground {
    position: fixed;
    background-image: url('https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg');
    background-size: cover;
    padding-left: 400px;
    padding-right: 400px;
  }

   #mapSegment{
    padding-bottom: 600px;
    width: 98%;
  }

  #areaInfo {
    position: relative;
    bottom: 20px;
    height: 200px;
    z-index: 99990;

  }

  .areaInfoImage {
    width: 20vw;
    float: left;
  }

  #segment {
    position: absolute;
    top: 360px;
    left: 410px;
    right: 24px;
    width: 940px;
    height: 240px !important;
    margin-top: 30px;
    padding-top: 50px;
    height: 160px;
    z-index: 9990;
    max-height: 220px;
    overflow-y: scroll;
    border-color: black;
  }

  .socialMediaButtons {
    position: relative;
    left: 0px;
    bottom: -100px;
  }

  .rss {
    position: absolute;
    top: 0;
    left:0;

  }

  .disableMenuButton {
    position: relative;
    right: 79.5px;
  }

  .orgCards {
    display: flex;
    flex-direction: column;
    border-style: double;
  }

  .orgCards img {
    height: 30vh;
    width: 22vw;
    border: 15px;
    float: left;
    border-style: groove;
  }

  .orgHeaderName {
    text-align: center;
  }

  .cardStuff {
    border-style: inset;
    overflow: auto;
  }

  .earth {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  bottom: 690px;
  left: 1260px;
  right: 0px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
  z-index: 999;
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 7s linear alternate infinite;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg);
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

.widget {
  z-index: 99;
  bottom: -200px;
  background-color: white
}
